.h1{
    font-family: "Coiny", system-ui;
    text-align: center;
    padding-top: 30px;
    color: var(--cor4);
}

.form{
    background: linear-gradient(#FBD1FF 0%, #FFA4EB 100%);
    width: 350px;
    height: 470px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px var(--cor2);
}

.separarInput {
    margin-top: 30px;
}

.naoPossuiConta{
    display: flex;
    gap: 3px;
    font-family: "Coiny", system-ui;
    font-weight: none;
    margin-top: 20px;
    margin-left: 23px;
    color: var(--cor4);
}

.link {
    color: #551A8B;
    text-decoration: underline;
}

@media (max-width: 393px) {
    .form {
        width: 85%;
    }

    .naoPossuiConta{
        display: block;
    }
}