@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap'); /*"Coiny", system-ui;*/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One */


:root {
  --background: #ffffff;
  --foreground: #171717;
  --cor1: white;
  --cor2: #FFA4EB;
  --cor3: #FBD1FF;
  --cor4: #B6005BD6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}