.sobreNos {
  border: var(--cor4) 2px solid;
  border-radius: 10px;
  width: 75%;
  padding: 10px;
  margin: auto;
  display: block;
  background-color: var(--cor1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.h1{
  text-align: center;
  font-size: 40px;
  font-family: "Coiny", system-ui;
  color: var(--cor4);
}

.h2{
  font-size: 25px;
  font-family: "Coiny", system-ui;
  color: var(--cor4);
}

.p{
  font-size: 23px;
}