.h1{
    font-family: "Coiny", system-ui;
    text-align: center;
    padding-top: 30px;
    color: var(--cor4);
}

.form{
    background: linear-gradient(#FBD1FF 0%, #FFA4EB 100%);
    width: 355px;
    height: 550px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px var(--cor2);
}

.label{
    font-size: 23px;
    display: block;
    margin-top: 20px;
    font-family: "Coiny", system-ui;
    color: var(--cor4);
}

.tituloLabel{
    margin-left: 20px;
    font-size: 17px;
    font-family: "Coiny", system-ui;
    color: var(--cor4);
}

.input{
    border-radius: 8px;
    border: none;
    width: 90%;
    height: 35px;
    display: block;
    margin: auto;
    padding-left: 5px;
}

.button{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-family: Nerko One;
    padding: 5px;
    border-radius: 15px;
    background-color: #fc7de0;
    border: none;
    width: 90%;
    cursor: pointer;
    color: var(--cor4);
}

.button Link{
    text-decoration: none;
    color: var(--cor4);
}

.button Link:hover, .button:hover{
    color: var(--cor3);
    transform: scale(1.04);
}

.input::placeholder {
   font-family: "Coiny", system-ui;
   color: var(--cor4);
}

.inputExcluirTamanho, .inputNvTamanho{
    margin-top: 25px;
}

.listaTamanhos{
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 19vh;
    margin: auto;
    display: block;
    overflow-y: scroll;
}

.tamanhos{
    font-size: 20px;
    font-family: "Coiny", system-ui;
    color: var(--cor4);
    padding: 4px 0px 10px 8px
}

.pDeTamanho{
    font-size: 23px;
    font-family: "Coiny", system-ui;
    color: var(--cor4);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 320px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 393px) {
    .form {
        width: 85%;
        height: 600px;
    }

    .listaTamanhos{
        width: 90%;
    }

    .pDeTamanho{
        width: 90%;
    }
}